body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.inner {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head{
    height: 600px;
    background-image: url(../img/qfbj1.jpg);
    background-size: 100% 100%;
}
.head .top{
    color: rgb(112,112,112);
    font-size: 14px;
    font-weight: lighter;
    font-family: STXihei;
    padding-top: 30px;
    padding-left: 130px;
}
.head .title{
    color: rgb(82, 82, 82);
    font-size: 30px;
    font-weight: normal;
    font-family: sans-serif;
    padding-top: 40px;
    padding-left: 130px;
}
.head .text{
    color: rgb(89, 101, 105);
    font-size: 14px;
    font-weight: 300;
    font-family: sans-serif;
    padding-top: 60px;
    padding-left: 100px;
    line-height: 30px;
}

.cont-1{
    height: 750px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-1 .title{
    color: rgb(82, 82, 82);
    font-size: 25px;
    font-family: YouYuan;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow:rgb(223, 204, 204) 3px 4px 5px
}
.cont-1 .func{
    width: 80%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
}
.func .item{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.func .item p{
    margin: 0;
    margin-top: 8px;
    font-weight: lighter;
    font-family: STXihei;
}
.func .item .circle{
    width: 120px;
    height: 120px;
    background-color: rgb(140, 177, 192);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 15px 15px 10px 1px rgb(231, 235, 236);
    transition: 0.2s;
}
.func .item .circle:hover{
    transform: scale(1.1);
}
.func .item .circle img{
    width: 25px;
    height: 25px;
}

.cont-2{
    height: 1600px;
}
.cont-2 .container{
    width: 100%;
    height: 1600px;
    background-image: url(../img/qfbj_bg.jpg);
    background-size: 100% 100%;
}
.cont-2 .block{
    width: 100%;
    height: 400px;
    /* background-color: wheat; */
    border: 1px solid rgba(214, 214, 214, 0);
}
.left .text-1{
    height: 110px;
    margin-top: 80px;
    margin-left: 230px;
}
.left .text-1 img{
    width: 140px;
}
.left .text-1 p{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
    font-family: Microsoft YaHei;
}
.left .text-2{
    margin-left: 120px;
    color: rgb(112,112,112);
    font-size: 13px;
    font-weight:400;
    font-family: Microsoft YaHei;
    line-height: 25px;
}
.left .text-2-1{
    color: rgb(125, 110, 100);
    font-size: 16px;
    font-weight: 500;
    margin-right: 45px;
}
.left .text-3{
    margin-top: 20px;
    margin-left: 120px;
    color: rgb(112,112,112);
    font-size: 12px;
    font-weight:400;
    font-family: Microsoft YaHei;
    line-height: 25px;
}
.left .text-3 ul{
    position: relative;
    top:-38px;
    left: 80px;
}

.right .text-1{
    width: 100%;
    height: 110px;
    padding-top: 80px;
    /* padding-right: 110px; */
    /*-left: 520px; */
}
.right .text-1 img{
    margin-left: 510px;
    width: 140px;
}
.right .text-1 p{
    float: right;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-right: 245px;
    font-size: 15px;
    font-weight: lighter;
    font-family: Microsoft YaHei;
}
.right .text-2{
    float: left;;
    margin-left: 280px;
    color: rgb(112,112,112);
    font-size: 13px;
    font-weight:400;
    font-family: Microsoft YaHei;
    line-height: 25px;
}
.right .text-2-1{
    color: rgb(125, 110, 100);
    font-size: 16px;
    font-weight: 500;
    margin-right: 45px;
}
.right .text-3{
    float: left;;
    margin-top: 20px;
    margin-left: 280px;
    color: rgb(112,112,112);
    font-size: 12px;
    font-weight:400;
    font-family: Microsoft YaHei;
    line-height: 25px;
}
.right .text-3 ul{
    position: relative;
    top:-38px;
    left: 80px;
}