body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("../img/bg-video.png");
    background-size:100% 100%; 
}
.box{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    height: 450px;
    width: 650px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(134, 168, 182);
}
.box video{
    height: 330px;
    margin-top: 20px;
    
}
.box .line{
    height: 2px;
    width: 95%;
    margin-top: 20px;
    background-color:  rgb(134, 168, 182);
}
.box .bottom{
    height: 50px;
    width: 90%;
    /* margin-top: 15px; */
    /* background-color: wheat; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.box .bottom .icon{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.icon1 {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background:url(../img/icon-like.jpg) no-repeat, #303030 ;
    background-size:cover;
    background-blend-mode: lighten;
}
.icon1:hover{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url(../img/icon-like.jpg) no-repeat, rgb(118, 155, 172) ;
    background-size:cover;
    background-blend-mode: lighten;
}
.icon2 {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background:url(../img/icon-share.jpg) no-repeat, #303030 ;
    background-size:cover;
    background-blend-mode: lighten;
}
.icon2:hover{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url(../img/icon-share.jpg) no-repeat, rgb(118, 155, 172) ;
    background-size:cover;
    background-blend-mode: lighten;
}
.icon3 {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background:url(../img/icon-more.jpg) no-repeat, #303030 ;
    background-size:cover;
    background-blend-mode: lighten;
}
.icon3:hover{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url(../img/icon-more.jpg) no-repeat, rgb(118, 155, 172) ;
    background-size:cover;
    background-blend-mode: lighten;
}
ul{
    padding-left: 0;
    list-style-type: none;
    color:rgb(44, 44, 44);
}
ul li{
    margin-bottom: 8px;
}
